body {
    background-color: white;
    background-image: url("../Font/1x/ALL_BG_GRID.png");
    background-size: contain;
}

.outline {
    outline: 2px dashed blue;
}

* {
    font-family: Microsoft JhengHei;
    font-weight: bold !important;
}

/* === 色塊定義 === */
.bg-dgray { background-color: #666666; }
.bg-mgray { background-color: #B3B3B3; }
.bg-lgray { background-color: #E6E6E6; }
.bg-teal  { background-color: #02B7B4 !important; }
.bg-orange{ background-color: #FBA501 !important; }
.bg-red   { background-color: #FE6265 !important; }

/* === Navbar 佈局 === */
#my-navbar {
    height: 13vh;
    background-color: #F4DA63;
    position: relative;
}
#my-navbar img {
    /* [修正] 讓圖片自適應容器高度 */
    object-fit: contain;
}

#back_btn{
    position: absolute;
    /* [修正] 改用 vh 固定高度 */
    height: 6vh;
    left: 2%;
    top: 27%;
    z-index: 400;
    cursor: pointer;
}

#home_btn{
    position: absolute;
    /* [修正] 改用 vh 固定高度 */
    height: 6vh;
    left: 7%;
    top: 27%;
    z-index: 400;
    cursor: pointer;
}

#profile{
    position: absolute;
    /* [修正] 改用 vh 固定高度 */
    height: 6vh;
    right: 2%;
    top: 27%;
    z-index: 400;
    cursor: pointer;
}

#profile button{
    padding: 0px;
    border: 0px;
    background-color: #F4DA63;
    height: 100%;
    cursor: pointer;
}

#profile button img{
    height: 100%;
    padding: 0px;
    object-fit: contain;
}

/* === 主要內容佈局 === */
.body {
    height: 87vh;
    width: 100vw;   
}
.main {
    height: 70%;
    width: 90%;
}

#submit_btn {
    position: absolute;
    width: 20vw;
    left: 62%;
    bottom: 3%;
    z-index: 400;
    cursor: pointer;
}
#cancel_btn {
    position: absolute;
    width: 20vw;
    left: 20%;
    bottom: 3%;
    z-index: 400;
    cursor: pointer;
}

/* === 搜尋列與表格 === */
.search-bar {
    min-height: 13%;
    background-color: #F4DA63;
    border-radius: 30px 30px 0px 0px;
}

.mythead{
    margin-bottom: 0px;
}
.mythead tr{
    margin-right: 25px;
}

.data-list {
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #E6E6E6;
    padding: 0px;
}
.data-list img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.table {
    border-color: #B3B3B3;
}
tr {
    height: 7.1vh;
}

/* 單字編輯欄位 */
.mytdinput {
    padding: 0px !important;
}
.mytdinput input{
    width: 100%;
    min-height: 7.1vh;
    border: 1px solid #B3B3B3;
}

.add-bar {
    outline: 5px solid #FE6265;
    background-color: #E6E6E6;
}
.add-bar tr{
    margin-right: 25px;
}
.add-bar td{
    outline: 1px solid #B3B3B3;
}

/* === 捲軸樣式 === */
::-webkit-scrollbar {
    height: 10px;
    width: 25px;
}
::-webkit-scrollbar-track {
    height: 10px;
    width: 25px;
    background: white;
    border: 5px solid white;
}
::-webkit-scrollbar-thumb {
    height: 1em;
    width: 1em;
    background-color: #B3B3B3;
    border-radius: 10px;
    border: 5px solid white;
}

/* === 載入中動畫 === */
.rotate {
    width: 120px;
    height: 120px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}