<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>課程單元管理</title>
    
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-5.0.2.min.css">
    <link href="{{ url_for('static', filename='css/ta_home.css')}}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/static/css/myalert.css">
    <link rel="stylesheet" type="text/css" href="/static/css/ta_course.css">
</head>

<body>
    <div id="app">
        <nav id="my-navbar" class="navbar navbar-light navbar-expand-lg justify-content-center">
            <div class="container-fluid d-flex justify-content-center">
                <a href="/home/ta"><img id="back_btn" src="/static/4GAME_ALL/ALL/1x/ALL_ARROW_BACK.png"></a>
                <a href="/home/ta"><img id="home_btn" src="/static/4GAME_ALL/ALL/1x/ALL_HOME.png"></a>
                <div class="fs-1">課程單元管理</div>
                
                <!-- [修改] 統一風格下拉選單 -->
                <div class="btn-group" id="profile">
                    <button type="button" id="dropdownMenuReference"
                            data-bs-toggle="dropdown" aria-expanded="false" data-bs-reference="parent">
                        <!-- 注意：這裡改回彩色啟用的頭像，若要維持 Disable 樣式請自行更換檔名 -->
                        <img src="/static/4GAME_ALL/ALL/1x/ALL_ACCOUNT.png">
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuReference">
                        
                        <!-- 班級管理按鈕 -->
                        <li>
                            <button class="menu-btn-custom" onclick="class_entrance()">
                                <!-- <span class="btn-icon">🏫</span> -->
                                <span>班級管理</span>
                            </button>
                        </li>
                        
                        <!-- 登出按鈕 (純文字樣式) -->
                        <li>
                            <button id="dropdown-leave" onclick="exit()"></button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        {% raw %}
        <div class="body d-flex flex-column align-items-center">
            <div class="main d-flex flex-column mt-5">
                <div class="search-bar d-flex align-items-center justify-content-center">
                    <div class="px-3 d-none d-lg-block"><div class="fs-3">單元名稱</div></div>
                    <div class="px-3"><input type="text" class="form-control" v-model="search_name"></div>
                    <div class="px-3"><button type="button" class="btn bg-teal text-white" v-on:click="search()">查詢</button></div>
                </div>

                <table class="table mythead align-middle text-center fs-5">
                    <tbody class="bg-dgray text-white p-5">
                        <tr>
                            <td class="col-1">編號</td><td class="col-4">課程名稱</td><td class="col-1">詞彙數量</td><td class="col-2">最後修改日期</td><td class="col-4"></td><td style="min-width: 25px;"></td>
                        </tr>
                    </tbody>
                </table>

                <div class="flex-fill data-list" ref="data_scroll">
                    <table class="table table-bordered align-middle text-center fs-5">
                        <tbody>
                            <template v-for="(item, i) in course_list">
                                <tr>
                                    <template v-if="tr_index == -2">
                                        <td class="col-1">{{item.number + 1}}</td>
                                        <td class="col-4 mythinput"><input class="col-4" v-bind:value="item.name" disabled></td>
                                        <td class="col-1">{{item.words}}</td>
                                        <td class="col-2">{{item.lastmodify}}</td>
                                        <td class="col-4">
                                            <button type="button" class="btn bg-teal text-white" v-on:click="fixName(i)">修改名稱</button>
                                            <button type="button" class="btn bg-red text-white" v-on:click="remove(i)">移除</button>
                                            <button type="button" class="btn bg-orange text-white" v-on:click="editWords(i)">編輯單字</button>
                                        </td>
                                    </template>
                                    <template v-else-if="tr_index == i">
                                        <td class="col-1">{{item.number + 1}}</td>
                                        <td class="col-4 mythinput"><input v-model="item.name" class="bg-white"></td>
                                        <td class="col-1">{{item.words}}</td>
                                        <td class="col-2">{{item.lastmodify}}</td>
                                        <td class="col-4">
                                            <button type="button" class="btn bg-teal text-white" v-on:click="fixNameCfm(i)">確認名稱</button>
                                            <button type="button" class="btn bg-red text-white" v-on:click="cancel(i)">取消</button>
                                        </td>
                                    </template>
                                    <template v-else>
                                        <td class="col-1">{{item.number + 1}}</td>
                                        <td class="col-4 mythinput"><input v-bind:value="item.name" disabled></td>
                                        <td class="col-1">{{item.words}}</td>
                                        <td class="col-2">{{item.lastmodify}}</td>
                                        <td class="col-4">
                                            <button type="button" class="btn bg-mgray text-white">修改名稱</button>
                                            <button type="button" class="btn bg-mgray text-white">移除</button>
                                            <button type="button" class="btn bg-mgray text-white">編輯單字</button>
                                        </td>
                                    </template>
                                </tr>
                            </template>
                        </tbody>
                    </table>
                </div>

                <table class="add-bar align-middle text-center fs-5">
                    <thead>
                        <tr>
                            <template v-if="tr_index == -2">
                                <td class="col-1 bg-red text-white">新增</td>
                                <td class="col-4 mythinput"><input v-bind:value="insert_name" disabled></td>
                                <td class="col-1">0</td>
                                <td class="col-2">{{today}}</td>
                                <td class="col-4 p-2"><button type="button" class="btn bg-teal text-white" v-on:click="newName()">新增課程</button></td>
                                <td style="min-width: 25px;"></td>
                            </template>
                            <template v-else-if="tr_index == -1">
                                <td class="col-1 bg-red text-white">新增</td>
                                <td class="col-4 mythinput"><input v-model="insert_name"></td>
                                <td class="col-1">0</td>
                                <td class="col-2 ">{{today}}</td>
                                <td class="col-4 p-2">
                                    <button type="button" class="btn bg-teal text-white" v-on:click="newNameCfm()">確認新增</button>
                                    <button type="button" class="btn bg-red text-white" v-on:click="cancel()">取消</button>
                                </td>
                                <td style="min-width: 25px;"></td>
                            </template>
                            <template v-else>
                                <td class="col-1 bg-red text-white">新增</td>
                                <td class="col-4 mythinput"><input v-bind:value="insert_name" disabled></td>
                                <td class="col-1">0</td>
                                <td class="col-2">{{today}}</td>
                                <td class="col-4 p-2"><button type="button" class="btn bg-mgray text-white">新增課程</button></td>
                                <td style="min-width: 25px;"></td>
                            </template>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <img id="cancel_btn" src="/static/4GAME_ALL/ALL/1x/ALL_ROLLBACK_B.png" v-on:click="rollback()">
        <img id="submit_btn" src="/static/4GAME_ALL/ALL/1x/ALL_STORE_B.png" v-on:click="commit()">
        {% endraw %}

        <div class="modal fade" id="LogoutModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="d-flex flex-column align-items-center">
                                <img src="/static/Font/1x/ALL_IF_LOGOUT_B.png" style="width: 100%">
                                <div class="d-flex justify-content-between w-100">
                                    <div class="alertbtn alertbtn-succ" data-bs-dismiss="modal">取消</div>
                                    <div class="alertbtn alertbtn-warn" id="mlogout">登出</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="SetSuccessModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="d-flex flex-column align-items-center">
                                <img src="/static/4GAME_ALL/ALL/1x/ALL_SET SUCCESSFULLY_B.png" style="width: 100%">
                                <div class="d-flex justify-content-center w-100">
                                    <div class="alertbtn alertbtn-normal" v-on:click="reloadpage">完成</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="SetDeleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="d-flex flex-column align-items-center">
                                <img src="/static/4GAME_ALL/ALL/1x/ALL_SET_DELETE_B.png" style="width: 100%">
                                <div class="d-flex justify-content-between w-100">
                                    <div class="alertbtn alertbtn-succ" data-bs-dismiss="modal">取消</div>
                                    <div class="alertbtn alertbtn-warn" data-bs-dismiss="modal" onclick="deleteConfirmTrigger()">刪除</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/static/js/jquery-3.6.0.min.js"></script>
    <script src="/static/js/bootstrap-5.0.2.min.js"></script>
    <script src="/static/js/vue-2.6.14.min.js"></script>
    <script src="/static/js/axios-0.26.1.min.js"></script>
    <script src="/static/js/sweetalert-2.1.2.min.js"></script>
    <script>
        function deleteConfirmTrigger() { app.removeCfm(); }
        let app = new Vue({
            el: "#app",
            data: {
                search_name: "", insert_name: "", tr_index: -2, course_list: [], today: "", deltmpindex: 0
            },
            created() {
                this.search();
                var date = new Date();
                this.today = `${date.getFullYear()}-${(date.getMonth()+1).toString().padStart(2, '0')}-${date.getDate().toString().padStart(2, '0')}`;
            },
            methods: {
                commit() {
                    axios.post('/ta/course/vocab/commit').then(res => {
                        new bootstrap.Modal(document.getElementById('SetSuccessModal')).show();
                    });
                },
                rollback() { window.location.href = '/ta/course'; },
                reloadpage() { window.location.href = `/ta/course`; },
                scrollToTop() { this.$refs.data_scroll.scrollTo(0,0); },
                search() {
                    axios.post('/ta/course/search', {'search_name': this.search_name}, {'Content-Type': 'application/json'})
                        .then(res => { this.course_list = res.data.results; });
                },
                cancel() { this.search(); this.insert_name = ""; this.tr_index = -2; },
                fixName(i) { this.tr_index = i; },
                fixNameCfm(i) {
                    axios.post('/ta/course/update', {'course_id': this.course_list[i]["id"], 'update_name': this.course_list[i]["name"]})
                        .then(res => { this.course_list = res.data.results; });
                    this.tr_index = -2;
                },
                newName() { this.tr_index = -1; },
                newNameCfm() {
                    axios.post('/ta/course/insert', {'insert_name': this.insert_name})
                        .then(res => { this.course_list = res.data.results; this.scrollToTop(); });
                    this.insert_name = ""; this.tr_index = -2;
                },
                remove(i) {
                    this.deltmpindex = i;
                    new bootstrap.Modal(document.getElementById('SetDeleteModal')).show();
                    this.tr_index = -2;
                },
                removeCfm() {
                    axios.post('/ta/course/delete', {'delete_id': this.course_list[this.deltmpindex]["id"]})
                        .then(res => { this.course_list = res.data.results; });
                },
                editWords(i) {
                    axios.post('/ta/course/update/modifyts', {'course_id': this.course_list[i]["id"]});
                    window.location.href = `/ta/course/vocab?q=${this.course_list[i]["id"]}`;
                }
            }
        });

        function exit() { new bootstrap.Modal(document.getElementById('LogoutModal')).show(); }
        $("#mlogout").click(function() { document.location.href="/branch"; });
        function class_entrance() { window.location.href = "/ta/class_management"; }
    </script>
</body>
</html>