<!DOCTYPE html>
<html>
<head>
        <link href="{{ url_for('static', filename='css/ta_home.css')}}" rel="stylesheet", type="text/css">
        <script type="text/javascript" src="/static/js/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/ta_home.js')}}"></script>
</head>
<body>
        <img id="background_img" src="{{ url_for('static', filename='Font/1x/ALL_BG_GRID.png')}}">
        <div class="parent">
            <div class="btn-group" id="profile">
                <button type="button" id="dropdownMenuReference"
                        data-bs-toggle="dropdown" aria-expanded="false" data-bs-reference="parent">
                    <img src="/static/4GAME_ALL/ALL/1x/ALL_ACCOUNT.png">
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuReference">
                    <li><button id="dropdown-leave" onclick="exit()"></li>
                </ul>
            </div>
            
            <img id="nav_bar" src="{{ url_for('static', filename='Font/1x/ALL_NAVIGATION_BAR_NONE.png')}}">
            <form id="leaderboard" action="{{ url_for('leaderboard_ta_query') }}" method="POST" autocomplete="off">
                <input type="text" class="d-none" name="input_id" placeholder="例 : 302班 -> 302" style="font-size: 18px;"/>
                <input type="image" class="h-100" id="submit_btn" src="{{ url_for('static', filename='Font/1x/ALL_BUTTON_LEADERBOARD.png')}}" alt="Submit Form" />
            </form>
            <img id="manage" onclick="manage_entrance()" src="{{ url_for('static', filename='Font/1x/ALL_BUTTON_TEXTBOOK_MANAGEMENT.png')}}">
            <img id="template" onclick="game_entrance()" src="{{ url_for('static', filename='Font/1x/ALL_BUTTON_GAME_TEMPLATE.png')}}">
        </div>

    <div class="modal fade" id="LogoutModal" data-bs-backdrop="static" 
        data-bs-keyboard="false" tabindex="-1" 
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="d-flex flex-column align-items-center">
                            <img src="/static/Font/1x/ALL_IF_LOGOUT_B.png" style="width: 100%">
                            <!-- <div>title</div> -->
                            <div class="d-flex justify-content-between w-100">
                                <div class="alertbtn alertbtn-succ" data-bs-dismiss="modal">
                                    取消
                                </div>
                                <div class="alertbtn alertbtn-warn" id="mlogout">
                                    登出
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- my alert -->
    <link rel="stylesheet" type="text/css" href="/static/css/myalert.css">
    <!-- Core theme CSS (includes Bootstrap 5.0.2) -->
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-5.0.2.min.css">
    <!-- Bootstrap core JS 5.0.2 -->
    <script src="/static/js/bootstrap-5.0.2.min.js"></script>
    <script>
        function exit() {
            var LogoutModal = new bootstrap.Modal($('#LogoutModal'));
            if (! $('#LogoutModal').hasClass('show')) LogoutModal.show();
        }
        $("#mlogout").click(function() {
            document.location.href="/branch";
        });
    </script>
</body>
</html>