<!DOCTYPE html>
<html>
    <head>
        <link href="{{ url_for('static', filename='css/ta_leaderboard.css')}}" rel="stylesheet", type="text/css">
        <script type="text/javascript" src="{{ url_for('static', filename='js/ta_leaderboard.js')}}"></script>
    </head>
    <body>
        <img id="background_img" src="{{ url_for('static', filename='Font/1x/ALL_BG_GRID.png')}}">
        <div class="parent">
            <img id="back_btn" onclick="home()" src="{{ url_for('static', filename='4GAME_ALL/ALL/1x/ALL_ARROW_BACK.png')}}">
            <img id="home_btn" onclick="home()" src="{{ url_for('static', filename='4GAME_ALL/ALL/1x/ALL_HOME.png')}}">
            
            <img id="profile" src="{{ url_for('static', filename='4GAME_ALL/ALL/1x/ALL_ACCOUNT_DISABLE.png')}}">

            <img id="nav_bar" src="{{ url_for('static', filename='Font/1x/ALL_NAVIGATION_BAR_LEADERBOARD_INQUIRE.png')}}">
            <img id="field_background" src="{{ url_for('static', filename='Font/1x/ALL_FIELD_BOX.png')}}">
            <img id="field" src="{{ url_for('static', filename='Font/1x/ALL_FIELD_B.png')}}">
            <form action="{{ url_for('leaderboard_ta_query') }}" method="POST" autocomplete="off">
                <input type="text" id="input_id" name="input_id" placeholder="例 : 302班 -> 302" style="font-size: 18px;"/><br><br>
                <input type="image" id="submit_btn" src="{{ url_for('static', filename='Font/1x/ALL_INQUIRE.png')}}" alt="Submit Form" />
            </form>
            <img id="export_btn" src="{{ url_for('static', filename='4GAME_ALL/ALL/1x/ALL_EXPORT_RESULTS_B.png')}}" >
            <div id = "scroll_area">
                <table id = "leaderboard_table">
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
